<!-- <app-navigation></app-navigation> -->

<div class="col-lg-8 col-lg-offset-2">

    <div class="jumbotron style-text center-button">
        <h1>{{title}} </h1>
        <p>Publica, Sigue y Disfruta</p>
        <p> 
            <a href="#" class="btn btn-primary btn-lg Mi-perfil" role="button">
                Mi Perfil
            </a>

            <a href="#" class="btn btn-primary btn-lg Time-line" role="button">
                TimeLine
            </a>

            <a href="#" class="btn btn-primary btn-lg Usuarios" role="button">
                Usuarios
            </a>
        </p>
    </div>

</div>